.main{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 4rem);
    background-color: #F0F0F0;
}

.sideBar{
    margin-top: 1%;
    border-radius: 0px 30px 0px 0px;
    display: flex;
    padding: 2%;
    width: 25%;
    background-color: #FFFFFF;
    flex-direction: column;
    height: 100%;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 2%;
}

.iconContainer{
    display: flex;
    justify-content: flex-end;
}

.className{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.profilePicture{
    display: flex;
    width: 80%;
    align-self: flex-start;
    border-radius: 100%;
}

.editButton{
    background-color: transparent;
    border: none;
}

.containerInfo{
    display: flex;
    margin-top: 20%;
}

.containerButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.activeButton{
    background-color: #F54A48;
    border-radius: 5px;
    max-width: 14rem;
    min-width: 7rem;
    height: 2rem;
    display: flex;
    align-items: center;
    border: none;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;
}

.activeButtonText{
    color: #FFFFFF;
    font-size: 16px;
}

.containerHeadermain{
    width: 78vw;
    display: flex;
    flex-direction: column;
}

.iconHeader{
    width: 55px;
    margin-right: 2%;
    display: flex;
    align-self: flex-end;
}

