:root {
  --bg-color: #f5f5f5;
  --red-primary: #f54a48;
  --text-color: #3c3c3c;
  --subtext-color: #a2a2a2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg-color);
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--red-primary);
}
